body {
    background-color: #DDCC55;
    font-family: "Lucida Bright", Liberation, sans-serif;
    color: #000000;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

td {
    vertical-align: top;
    padding: 0;
}

hr {
    width: 320px;
    border: 1px solid #000000;
    margin: 0 auto;
    /* Centraliza o hr e remove quaisquer margens padrão */
}

.referencia {
    list-style-type: square;
    padding: 0;
}
.linha {
    margin-left: 10px;
}

li {
    font-family: "Verdana", "Ubuntu", sans-serif;
    margin-bottom: 10px;
}

a {
    color: #222222;
    text-decoration: none;
}

a:visited {
    color: #222222;
}

address {
    font-style: normal;
    font-family: "Verdana", "Ubuntu", sans-serif;
}

.imgLogo td {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}
.frase {
    margin-right: 100px;
}
